In [22]:
!jt -t onedork -T -N -fs 10 -nfs 10 -tfs 10

In [23]:
4+4

8

In [24]:
3*4

12

In [25]:
5/2

2.5

In [26]:
str1 = "python tutorial"

In [28]:
x = "R"

In [29]:
print("st {} tutorial".format(x))

st R tutorial

In [30]:
len(str1)

15

In [31]:
str1.replace("python", "SQL")

'SQL tutorial'